.footers{
    background: linear-gradient(86.28deg, #F6FEE0 -2.83%, #ADEDD5 118.05%);

    .footer{
        align-items: flex-start;
        padding: 20px;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        @include breakpoint-up(medium){
            justify-content: left;
        }
        @include breakpoint-up(large){
            justify-content: space-between;
            padding: 70px 20px;
        }

        div{
            flex-basis: 48%;
            @include breakpoint-up(medium){
                flex-basis: 33%;
            }
            @include breakpoint-up(large){
                flex-basis: 18%;
            }

            h2{
                font-size: 15px;
                font-weight: 500;
                color: black;
            }

            a, Link{
                display: block;
                color:rgba(0, 0, 0, 0.77);
                font-size: 13px;
                margin: 10px 0;
                text-decoration: none;
                transition: all 300ms ease-in-out;
                &:hover{
                    color: $green;
                }
            }

        }
        .div5{
            
            a{
                display: flex;
                justify-content: left;
                img{
                    margin-right: 6px;
                }
                p{
                    margin: 0;
                }
            }
        }
    }
}