// to import the font style from fonawesome
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
$green: #0C9B18;
$light-green: #6ACC1A;
$yellow:#FDC50D;
$gray:#585866;
// $yellow:#fdc50d88;


body{
    margin: 0;
    font-family: 'Inter', sans-serif;    
    position: relative;
    overflow-x: hidden !important;
    background: #fcfcfc;
    padding-top: 60px;

    &.noscroll{
        overflow-y: hidden;
    }

    a, p, h1, input, span{
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: unset;
    }
}

//style for class container
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.f{
    display: flex;
    &-jc-c{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-jc-sb{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-ai-c{
        display: flex;
        align-items: center;
    }
}

p{
    line-height: 1.3;
    margin: 0;
}