//###########
//style for the hamburger-mnu-btn, SVG code.

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 37px;
    position: relative;
    z-index: 4;
    top: 3px;
    width: 37px;
    // margin-right: 25px;
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:green;
    stroke-width:6.5;
    stroke-linecap:round;
}

.hamRotate.active {
transform: rotate(45deg);
}

.ham6{
    .top {
        stroke-dasharray: 40 172;
    }
    .middle {
        stroke-dasharray: 40 111;
    }
    .bottom {
        stroke-dasharray: 40 172;   
    }

    &.active{
        .top {
            stroke-dashoffset: -132px;
            stroke:$green;
        }
        .middle {
        stroke-dashoffset: -71px;
        stroke:$green;
        }
        .bottom {
        stroke-dashoffset: -132px;
        stroke:$green;
        }
    }
}
// .ham6.active .top {
//     stroke: white;
// }
// .ham6.active .middle {
//     stroke: white;
// }
// .ham6.active .bottom {
//     stroke: white;
// }