.header1{
    .header{
        margin: 7px 25px;
        .logo-div{
            img{
                position: relative;
                bottom: 3px;
            }

            p{
                font-weight: 600;
                font-size: 16px;
                margin: 0;
                color: black;
            }
        }

        .search-box{
            border: 1px solid white;
            transition: all 300ms ease-in-out;
            padding: 10px 5px;

            &:focus, &:hover{
                border: 1px solid $green;
                border-radius: 6px;
            }

            img{
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }

            input, select{
                border: none;
                color: #81818f;
                font-size: 15px;
                font-weight: 400;

                &:focus, &:hover{
                    border: none;
                    outline: none;
                }

                option{
                    font-weight: 400;
                    font-size: 14px;
                    color: #81818f;
                }
            }
        }

        .links{
            justify-content: flex-end;
            flex: 1;
            @include breakpoint-up(medium){
                justify-content: space-between;
                flex: unset;
            }

            span{
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                transition: all 300ms ease-in-out;
                margin-right: 13px;
                padding: 10px 5px;
                border-radius: 8px;
                border: 1px solid white;
                @include breakpoint-up(large){
                    &:hover{
                        color: $green;
                        border-radius: 8px;
                        border: 1px solid $green;
                    }
                }

                span{
                    padding: 0;
                    margin-right: 0;
                    border: none;
                    &:hover{
                        padding: 0;
                        border: none;
                    }
                }

                img{
                    margin-right: 1px;
                    position: relative;
                    top: 3px;
                    @include breakpoint-up(medium){
                        top: 1px;
                    }
                }
            }
        }
    }
}

// style for the second nav bar || header
.header2{
    background: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow: auto;
    @include breakpoint-up(medium){
        position: unset;
        background: $yellow;
    }
    .container{
        max-width: 1400px;
        margin: 0 auto;
    }
    .header{
        white-space: nowrap;
        overflow: auto;
        transition: all 300ms ease-in-out;
        @include breakpoint-up(medium){
            margin: 0 25px;
        }
        &:hover{
            &::-webkit-scrollbar-thumb{
                opacity: 1;
                background: $green;
            }     
        }

        &::-webkit-scrollbar{
            height: 4px;
        }

        &::-webkit-scrollbar-track{
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb{
            background: $yellow;
            border-radius: 10px;
            opacity: 0;
        }

        span{
            color: black;
            font-weight: 500;
            font-size: 15px;
            padding: 20px 25px;
            display: block;
            transition:300ms all ease-in-out;
            &:hover{
                background-color: $green;
                color: white;
            }
            @include breakpoint-up(medium){
                padding: 19px 10px;
                margin: 0 2px;
                display: inline-block;
            }
        }

        
    }
}