.heros{
    background: $light-green;
    .hero{
        padding: 25px;
        .text{
            flex-basis: 50%;
            h1{
                color: white;
                font-weight: 600;
                font-size: 37px;
                max-width: 607px;
                @include breakpoint-up(medium){
                    font-size: 50px;
                }
                @include breakpoint-up(large){
                    font-size: 96px;
                    max-width: 607px;
                    margin-bottom: 15px;
                }
            }

            button{
                padding: 13px 10px;
                font-weight: 600;
                font-size: 15px;
                color: #25252E;
                border-radius: 6px;
                border: none;
                column-gap: 5px;
                transition: all 300ms ease-in-out;
                &:hover{
                    color: white;
                    background: $yellow;
                }
                @include breakpoint-up(large){
                    padding: 15px 10px;
                    font-size: 16px;
                }
            }
        }
        .image{
            flex-basis: 50%;
            img{
                max-width: 100%;
            }
        }
    }
}

.hero-small{
    .hero{
        .text{
            h1{
                color: white;
                font-weight: 600;
                font-size: 25px;
                max-width: 607px;
                @include breakpoint-up(medium){
                    font-size: 40px;
                }
                @include breakpoint-up(large){
                    font-size: 70px;
                    max-width: 607px;
                    margin-bottom: 15px;
                }
            }
        }
    } 
}