.item-details{
    background: #eeeeee;
    h3{
        color: #25252E;
    }
    @include breakpoint-up(large){
        margin-top: 60px;
    }

    .item-detail{
        padding: 20px 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item-detail-swiper{
            flex-basis: 100%;
            .image-gallery-slide-wrapper{
                button{
                    .image-gallery-svg{
                        height: 40px;
                        width: 60px;
                    }
                }
            }
            @include breakpoint-up(medium){
                flex-basis: 40%;
            }
            @include breakpoint-up(large){
                flex-basis: 35%;
            }
            .image-gallery-slide-wrapper{
                border-radius: 6px;
                border: none ;
                min-height: 200px;
                img{
                    object-fit: cover;
                }
            }
        }
    }

    .item-about{
        flex-basis: 100%;
        h2{
            font-weight: 600;
            font-size: 24px;
            color: #25252E;
        }
        .green{
            margin: 0;
            font-weight: 400;
            font-size: 14px;     
            color: #0C9B18;       
        }
        .gray, .title, option{
            font-weight: 400;
            font-size: 14px;   
            margin: 0;
            line-height: 1.3;
            color:#585866;
        }

        .item-condition{
            display: flex;
            justify-content: left;
            margin: 15px 0;
            .title{
                flex-basis: 20%;
            }

            h3{
                font-weight: 600;
                font-size: 16px;
                color: #25252E;
                margin: 0;
            }

            .condition{
                flex-basis: 75%;
                h3{
                    margin-bottom: 8px;
                }
            }

            select{
                flex:1;
                border: 1px solid #c5c5c5;
                border-radius: 6px;      
                padding: 8px 8px 8px 12px;
                outline: none;   
                transition: all 300ms ease-in-out;
                color: #171717;
                font-weight: 400;
                background: transparent;
                &:hover{
                    border: 1px solid #0C9B18;
                }
            }

            span{
                padding: 3px 13px;
                border-radius: 5px;
                background: white;
                border: 1px solid #c7c7c7;
                margin: 0 6px;
            }
        }

        button{
            padding: 10px 0;
            width: 100%;
            border-radius: 6px;
            color: white;
            font-weight: 600;
            font-size: 14px;
            border: none;
            background: $green;
        }

        @include breakpoint-up(medium){
            flex-basis: 50%;
        }
        @include breakpoint-up(large){
            flex-basis: 35%;
            h2{
                font-size: 28px;
            }
            .green, .gray, .title{
                font-size: 16px;
                margin: 0;
            }
        }
    }

    .seller-info{
        flex-basis:100%;

        .info{
            padding: 15px;
            border-radius: 6px;
            border: 1px solid #c7c7c7;
            h3{
                margin: 2px 0;
            }
            p{
                font-weight: 400;
                font-size: 14px; 
                color: #25252E;
                margin: 8px 0;    
            }
            .green{
                color: #0C9B18;  
            }
        }

        .icon{
            text-align: center;
            margin: 10px auto;
            img{
                margin: 5px;
            }
        }
        @include breakpoint-up(large){
            flex-basis: 20%;
            p{
                font-size: 16px;
            }
        }
    }

    .item-specification{
        flex-basis: 100%;

        h3, p{
            color: #25252E;
        }
        p{
            font-size: 14px;
            font-weight: 400;
        }
        .title{
            color: #81818F;
            flex-basis: 20%;
            margin-right: 5px;
        }

        .gray{
            color: #585866;
        }

        .content{
            text-align: left;
            flex: 1;
        }

        div{
            margin: 15px 0;
            display: flex;
        }
        @include breakpoint-up(large){
            p{font-size: 16px;}
        }
    }

    .item-description{
        flex-basis: 100%;
        margin: 30px 0;
        h3, p{
            color: #25252E;
        }
        p{
            font-size: 14px;
            font-weight: 400;
        }
        @include breakpoint-up(large){
            p{
                font-size: 16px;
            }
        }
    }

    .customer-review{
        flex-basis: 100%;

        .review-head{
            padding: 5px 0;
            border-bottom: 1px solid #c7c7c7;
            border-top: 1px solid #c7c7c7;
            flex-wrap: wrap;

            h3{
                color:#25252E
            }

            p{
                font-size: 14px;
                font-weight: 600;
                color: #25252E;
                margin: 4px 0;
                @include breakpoint-up(large){
                    font-size: 16px;
                }
            }

            div{
                .gray{
                    color: #585866;
                    font-weight: 400;
                }
            }

        }
        .review-chart{
            p{
                font-size: 14px;
                font-weight: 400;
                color: #25252E;
                @include breakpoint-up(large){
                    font-size: 16px;
                }
            }

            .bar-chart{
                column-gap: 15px;
                margin: 18px 0;
                .bar{
                    flex: 1;
                    height: 18px;
                    border-radius: 3px;
                    display: block;
                    width: 100%;

                    .level{
                        display: inline-block;
                        height: 18px;
                        background: #f5bf55;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}