.reviews{
    background: linear-gradient(267.38deg, #DFE9F3 -6.01%, #FFFFFF 117.83%);
    .review{
        padding: 20px;
        h2{
            text-align: center;
            font-size: 17px;
            font-weight: 600;
            color:#25252E;
    
            @include breakpoint-up(large){
                font-size: 22px;
            }
        }
    
        .review-content{
            flex-wrap: wrap;
            .content{
                flex-basis: 90%;
                padding: 15px;
                transition: all 300ms ease-in-out;
                &:hover{
                    transform: scale(1.01);
                }
                img{
                    width: 86px;
                }
                small, .reviewer{
                    font-weight: 400;
                    color: #81818F;;
                    font-size: 14px;
                }
                .content{
                    color: #25252E;
                    font-size: 13px;
                    font-weight: 400;
                    padding: 0;
                }
                @include breakpoint-up(medium){
                    flex-basis: 41%;
                }
                @include breakpoint-up(large){
                    flex-basis: 21%;
                    small, .reviewer{
                        font-weight: 400;
                        font-size: 14px;
                    }
                    .content{
                        font-size: 14px;
                    }
                }
            }
    
        }
    }
}