.top-products{ 
    background: #f1f1f1;
    .top-product-header{
        padding: 9px 25px;
        color: white;
        font-weight: 600;
        background: $yellow;
        @include breakpoint-up(large){
            padding: 7px 25px;
        }

        h2{
            font-size: 20px;
            margin: 0;
            @include breakpoint-up(large){
                font-weight: 600;
                font-size: 28px;
            }
        }

        p{
            margin: 0;
            font-size: 13px;
            transition: all 300ms ease-in-out;
            @include breakpoint-up(large){
                font-size: 16px;
            }
            &:hover{
                color: $green;
            }
        }
    }

    .top-product-content{
       padding: 25px 10px;
        flex-wrap: wrap;
        row-gap: 20px;

        @include breakpoint-up(medium){
            justify-content:unset;
            column-gap:10px;
        }
        .product{
            flex-basis: 49%;
            height: 250px;
            background: white;
            border-radius: 6px;
            transition: all 300ms ease-in-out;
            
            &:hover{
                .product-image{
                    transform: scale(1.01);
                }
            }

            @include breakpoint-up(medium){
                flex-basis: 32%;
                height:auto;
            }

            @include breakpoint-up(large){
                flex-basis: 19%;
                max-width: 255px;
            }
        }

        .product-image{
            width: 96%;
            margin: auto;
            margin-top: 3px;
            height: 200px;
            object-fit: cover;
            border-radius: 6px;
            transition: all 300ms ease-in-out;
        }

        .product-name{
            font-weight: 600;
            font-size: 14px;
            color: #484848;
            margin-left: 3px;
            @include breakpoint-up(large){
                font-size: 16px;
                font-size: 16px;
                
                margin-top: 5px;
                max-width: 96%;
            }
        }

        .product-price{
            font-weight: 600;
            font-size: 16px;
            margin-left: 3px;
            color: #1f1f29;
            @include breakpoint-up(large){
                font-size: 18px;
            }
        }
    }
}