
  .slider-type-1{
    background: #F0FFF3;
    .swiper-wrapper{
        margin-top: 30px;
        row-gap: 5px;
        height: 250px;
        position: relative;
        width: 100%;

        .swiper-slide{
            /* Center slide text vertically */   
            height: 108px;
            .content{
                display: flex;
                align-items: center;
                width: 95%;
                margin: 0 2.5%;
                column-gap: 8px;
                background: white;
                border-radius: 5px;
                height: 100%;
                @include breakpoint-up(medium){
                    max-width: 100%;
                    margin: 0;
                }
            }
            .img{
                flex-basis: 30%;
                img{
                    width: calc(100% - 10px);
                    margin-left: 10px
                }
            }

            .text{
                .product-name{
                    color: #25252E;
                    font-size: 12px;
                    @include breakpoint-up(large){
                        font-Size: 13px;
                      }
                }
                .product-price{
                  font-weight: 600;
                  font-Size: 13px;
                  color: #585866;
                  @include breakpoint-up(large){
                    font-Size: 15px;
                  }
                }
            }
        }

        
    }
    .swiper-button-next, .swiper-button-prev {
        height: 25px;
        width: 25px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e1e1e1;
        border-radius: 50%;
        &::after {
            font-size: 13px !important;
            font-weight: 600 !important;
        }
    }
  }
  