@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@media (max-width: 63.9375em) {
  .h-f-m {
    display: none;
  }
}

@media (max-width: 39.997em) {
  .h-f-m {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .h-f-tm {
    display: none;
  }
}

@media (max-width: 39.997em) {
  .h-f-dm {
    display: none !important;
  }
}

@media (min-width: 40em) {
  .h-f-t {
    display: none;
  }
}

@media (min-width: 64em) {
  .h-f-d {
    display: none;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden !important;
  background: #fcfcfc;
  padding-top: 60px;
}
body.noscroll {
  overflow-y: hidden;
}
body a, body p, body h1, body input, body span {
  cursor: pointer;
}
body a {
  text-decoration: none;
  color: unset;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.f {
  display: flex;
}
.f-jc-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-jc-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f-ai-c {
  display: flex;
  align-items: center;
}

p {
  line-height: 1.3;
}

@media (max-width: 63.9375em) {
  .fade-out {
    animation: fade-out 300ms ease-in-out forwards;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.header1 {
  background: white;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}
.header1 .header {
  margin: 7px 25px;
}
.header1 .header .logo-div img {
  position: relative;
  bottom: 3px;
}
.header1 .header .logo-div p {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: black;
}
.header1 .header .search-box {
  border: 1px solid white;
  transition: all 300ms ease-in-out;
  padding: 10px 5px;
  position: absolute;
  top: 62px;
  border-radius: 6px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 40em) {
  .header1 .header .search-box {
    position: unset;
    left: 0;
    transform: none;
  }
}
.header1 .header .search-box:focus, .header1 .header .search-box:hover {
  border: 1px solid #0C9B18;
}
.header1 .header .search-box img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.header1 .header .search-box input, .header1 .header .search-box select {
  border: none;
  color: #81818f;
  font-size: 15px;
  font-weight: 400;
}
.header1 .header .search-box input:focus, .header1 .header .search-box input:hover, .header1 .header .search-box select:focus, .header1 .header .search-box select:hover {
  border: none;
  outline: none;
}
.header1 .header .search-box input option, .header1 .header .search-box select option {
  font-weight: 400;
  font-size: 14px;
  color: #81818f;
}
.header1 .header .links {
  justify-content: flex-end;
  flex: 1;
}
@media (min-width: 40em) {
  .header1 .header .links {
    justify-content: space-between;
    flex: unset;
  }
}
.header1 .header .links a {
  text-decoration: none;
  color: black;
}
.header1 .header .links span {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  transition: all 300ms ease-in-out;
  margin-right: 2px;
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid white;
}
@media (min-width: 40em) {
  .header1 .header .links span {
    margin-right: 13px;
  }
}
@media (min-width: 64em) {
  .header1 .header .links span:hover {
    color: #0C9B18;
    border-radius: 8px;
    border: 1px solid #0C9B18;
  }
}
.header1 .header .links span span {
  padding: 0;
  margin-right: 0;
  border: none;
}
.header1 .header .links span span:hover {
  padding: 0;
  border: none;
}
.header1 .header .links span img {
  margin-right: 1px;
  position: relative;
  top: 3px;
}
@media (min-width: 40em) {
  .header1 .header .links span img {
    top: 1px;
  }
}
.header1 .header .links span .img1 {
  top: 4px;
}
.header1 .header .links .search-icon img {
  width: 18px;
  height: 18px;
  top: 5px;
}

.header2 {
  background: #f1f1f1;
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 0;
  overflow: auto;
}
@media (min-width: 40em) {
  .header2 {
    background: #FDC50D;
    bottom: auto;
  }
}
.header2 .container {
  max-width: 1400px;
  margin: 0 auto;
}
.header2 .header {
  white-space: nowrap;
  overflow: auto;
  transition: all 300ms ease-in-out;
}
@media (min-width: 40em) {
  .header2 .header {
    margin: 0 25px;
  }
  .header2 .header img {
    display: none;
  }
}
.header2 .header:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  background: #0C9B18;
}
.header2 .header::-webkit-scrollbar {
  height: 4px;
}
.header2 .header::-webkit-scrollbar-track {
  border-radius: 10px;
}
.header2 .header::-webkit-scrollbar-thumb {
  background: #FDC50D;
  border-radius: 10px;
  opacity: 0;
}
.header2 .header span {
  color: black;
  font-weight: 500;
  font-size: 15px;
  padding: 20px 25px;
  display: flex;
  transition: 300ms all ease-in-out;
  justify-content: space-between;
}
.header2 .header span:hover {
  background-color: #0C9B18;
  color: white;
}
@media (min-width: 40em) {
  .header2 .header span {
    padding: 19px 10px;
    margin: 0 2px;
    display: inline-block;
  }
}

.categoryspopup {
  background: #f1f1f1;
  position: fixed;
  left: 0;
  color: rgb(58, 58, 58);
  border: 5px;
  right: 0;
  top: 60px;
  bottom: 0;
  z-index: 5;
  overflow: auto;
  transition: all 300ms ease-in-out;
}
@media (min-width: 40em) {
  .categoryspopup {
    left: 40%;
    right: 0;
    top: 120px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
  }
}
.categoryspopup .categorypopup {
  padding: 25px;
}
@media (min-width: 40em) {
  .categoryspopup .categorypopup {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.categoryspopup .categorypopup .navigationlist {
  border-right: 1px solid rgb(194, 192, 192);
  flex-basis: 40%;
}
.categoryspopup .categorypopup .navigationlist span {
  display: block;
  padding: 10px 0 10px 20px;
  font-weight: 500;
  font-size: 15px;
  transition: all 300ms ease-in-out;
}
.categoryspopup .categorypopup .navigationlist span:hover {
  background: #0C9B18;
  color: white;
}
.categoryspopup .categorypopup .navigationlist-sub-section span {
  display: block;
  padding: 20px 0;
}
@media (min-width: 40em) {
  .categoryspopup .categorypopup .navigationlist-sub-section {
    flex-basis: 50%;
    font-weight: 500;
    font-size: 15px;
  }
}

@media (min-width: 40em) {
  #display {
    transition: all 300ms ease-in-out;
    visibility: visible;
    opacity: 1;
  }
}

.contact {
  padding: 20px;
  padding-top: 60px;
  background: #F4F5F9;
  flex-wrap: wrap;
}
@media (min-width: 40em) {
  .contact div {
    flex-basis: 50%;
  }
}
.contact h2 {
  color: #1d4100;
  font-weight: 600;
  font-size: 27px;
}
.contact h3 {
  font-size: 20px;
  color: #555555;
  font-weight: 500;
}
.contact p {
  line-height: 1.3;
  color: #585866;
  font-weight: 400;
  font-size: 14px;
}
.contact form {
  background: white;
  padding: 20px;
  border-radius: 5px;
}
@media (min-width: 40em) {
  .contact form {
    flex-basis: 50%;
    max-width: 400px;
  }
}
.contact form input, .contact form textarea {
  width: calc(100% - 20px);
  max-width: 400px;
  background: #F4F5F9;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  color: #585866;
  padding: 16px 10px;
  margin: 35px 0;
  text-decoration: none;
  display: block;
  transition: all 300ms ease-in-out;
  border: 1px solid #E4E4EE;
  outline: none;
}
.contact form input:hover, .contact form textarea:hover {
  background: rgba(0, 128, 0, 0.055);
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  color: #B2B2C2;
  font-size: 15px;
  font-weight: 400;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  color: #B2B2C2;
  font-size: 15px;
  font-weight: 400;
}
.contact form input[type=submit], .contact form textarea[type=submit] {
  background: #0C9B18;
  color: white;
  width: 100%;
  display: block;
  max-width: 410px;
}
.contact form input[type=submit]:hover, .contact form textarea[type=submit]:hover {
  transform: scale(0.98);
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 37px;
  position: relative;
  z-index: 4;
  top: 3px;
  width: 37px;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: green;
  stroke-width: 6.5;
  stroke-linecap: round;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
  stroke: #0C9B18;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
  stroke: #0C9B18;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
  stroke: #0C9B18;
}

.heros {
  overflow: hidden;
  background: linear-gradient(180deg, #DCDBD7 0%, #D7D3D0 100%);
}
.heros .swiper-slide {
  width: 100%;
}
.heros .swiper-slide img {
  width: 100%;
}
@media (min-width: 40em) {
  .heros {
    height: unset;
  }
}
@media (min-width: 64em) {
  .heros {
    padding-top: 15px;
  }
}
.heros .swiper-pagination-bullet-active {
  background: white;
}
@media (min-width: 64em) {
  .heros .swiper-pagination-bullet-active {
    position: relative;
    bottom: 40px;
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 64em) {
  .heros .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 1px solid white;
    position: relative;
    bottom: 40px;
  }
}
.heros .hero {
  padding: 25px;
}
.heros .hero .text {
  flex-basis: 50%;
  position: relative;
  z-index: 1;
}
.heros .hero .text h1 {
  color: white;
  font-weight: 700;
  font-size: 15.4162px;
  line-height: 24px;
}
@media (min-width: 64em) {
  .heros .hero .text h1 {
    font-weight: 700;
    font-size: 49px;
    line-height: 1.3;
  }
}
.heros .hero .text button {
  padding: 7px 5px;
  font-weight: 600;
  font-size: 12px;
  color: #25252E;
  border-radius: 6px;
  border: none;
  -moz-column-gap: 5px;
       column-gap: 5px;
  transition: all 300ms ease-in-out;
}
.heros .hero .text button img {
  width: 9px;
}
.heros .hero .text button:hover {
  color: white;
  background: #FDC50D;
}
@media (min-width: 64em) {
  .heros .hero .text button {
    padding: 20px 45px;
    font-size: 16px;
    padding: 13px 10px;
  }
}
.heros .hero .image {
  flex-basis: 50%;
}

.hero1 {
  background: linear-gradient(180deg, #DCDBD7 0%, #D7D3D0 100%);
}
.hero1 .hero .text h1 {
  color: #585866;
}
.hero1 .hero .image img {
  max-width: 100%;
  position: relative;
  transform: scale(1.5);
}
@media (min-width: 64em) {
  .hero1 .hero .image img {
    transform: scale(1.4);
  }
}

.hero2 {
  background: #FFE6CD;
}
.hero2 .hero .text h1 {
  color: #585866;
}
.hero2 .hero .image img {
  max-width: 100%;
  position: relative;
  transform: scale(1.9);
  left: 40%;
}
@media (min-width: 64em) {
  .hero2 .hero .image img {
    transform: scale(1.3);
    left: 7%;
  }
}

.hero3 {
  background: #B9FFD9;
}
.hero3 .hero .text h1 {
  color: #585866;
}
.hero3 .hero .image img {
  max-width: 100%;
  position: relative;
  transform: scale(2);
  left: 23%;
}
@media (min-width: 64em) {
  .hero3 .hero .image img {
    transform: scale(1.5);
    left: 2%;
  }
}

.hero4 {
  background: #F4FFF6;
}
.hero4 .hero .text h1 {
  color: #585866;
}
.hero4 .hero .text button {
  background: #1E1E1E;
  color: white;
}
.hero4 .hero .image img {
  max-width: 100%;
  position: relative;
  transform: scale(1.3);
  left: 5%;
}
@media (min-width: 64em) {
  .hero4 .hero .image img {
    transform: scale(1);
    left: 3%;
  }
}

.hero5 {
  background: #F4F6FF;
}
.hero5 .hero .text {
  text-align: left;
}
.hero5 .hero .text h1 {
  color: #585866;
  margin-bottom: 2px;
}
.hero5 .hero .text p {
  color: #585866;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  margin-bottom: 5px;
}
@media (min-width: 64em) {
  .hero5 .hero .text p {
    font-size: 20px;
  }
}
.hero5 .hero .text button {
  background: #585866;
  color: white;
}
.hero5 .hero .image {
  flex-basis: 48%;
}
.hero5 .hero .image img {
  max-width: 93%;
  position: relative;
}
@media (min-width: 64em) {
  .hero5 .hero .image img {
    transform: scale(1);
    left: 3%;
  }
}

.top-products .top-product-header {
  padding: 9px 25px;
  color: white;
  font-weight: 600;
  background: #FDC50D;
}
@media (min-width: 64em) {
  .top-products .top-product-header {
    padding: 11px 25px;
  }
}
.top-products .top-product-header h2 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 64em) {
  .top-products .top-product-header h2 {
    font-weight: 600;
    font-size: 32px;
  }
}
.top-products .top-product-header p {
  margin: 0;
  font-size: 13px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .top-products .top-product-header p {
    font-size: 16px;
  }
}
.top-products .top-product-header p:hover {
  color: #0C9B18;
}
.top-products .top-product-content {
  padding: 25px;
  flex-wrap: wrap;
}
@media (min-width: 40em) {
  .top-products .top-product-content {
    justify-content: unset;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.top-products .top-product-content .product {
  flex-basis: 47%;
  height: 250px;
}
@media (min-width: 40em) {
  .top-products .top-product-content .product {
    flex-basis: 32%;
    height: auto;
  }
}
@media (min-width: 64em) {
  .top-products .top-product-content .product {
    flex-basis: 19%;
    max-width: 255px;
  }
}
.top-products .top-product-content .product-image {
  width: 100%;
  border-radius: 10px;
}
.top-products .top-product-content .product-name {
  font-weight: 600;
  font-size: 14px;
  color: #25252E;
}
@media (min-width: 64em) {
  .top-products .top-product-content .product-name {
    font-size: 16px;
  }
}
.top-products .top-product-content .product-price {
  font-weight: 600;
  font-size: 16px;
  color: #1E1E1E;
}
@media (min-width: 64em) {
  .top-products .top-product-content .product-price {
    font-size: 18px;
  }
}

.slider-type-1 {
  background: #F0FFF3;
}
.slider-type-1 .swiper-wrapper {
  margin-top: 30px;
  row-gap: 5px;
  height: 250px;
  position: relative;
  width: 100%;
}
.slider-type-1 .swiper-wrapper .swiper-slide {
  /* Center slide text vertically */
  height: 108px;
}
.slider-type-1 .swiper-wrapper .swiper-slide .content {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 2.5%;
  -moz-column-gap: 8px;
       column-gap: 8px;
  background: white;
  border-radius: 5px;
  height: 100%;
}
@media (min-width: 40em) {
  .slider-type-1 .swiper-wrapper .swiper-slide .content {
    max-width: 100%;
    margin: 0;
  }
}
.slider-type-1 .swiper-wrapper .swiper-slide .img {
  flex-basis: 30%;
}
.slider-type-1 .swiper-wrapper .swiper-slide .img img {
  width: calc(100% - 10px);
  margin-left: 10px;
}
.slider-type-1 .swiper-wrapper .swiper-slide .text .product-name {
  color: #25252E;
  font-size: 12px;
}
@media (min-width: 64em) {
  .slider-type-1 .swiper-wrapper .swiper-slide .text .product-name {
    font-Size: 13px;
  }
}
.slider-type-1 .swiper-wrapper .swiper-slide .text .product-price {
  font-weight: 600;
  font-Size: 13px;
  color: #585866;
}
@media (min-width: 64em) {
  .slider-type-1 .swiper-wrapper .swiper-slide .text .product-price {
    font-Size: 15px;
  }
}
.slider-type-1 .swiper-button-next, .slider-type-1 .swiper-button-prev {
  height: 25px;
  width: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1e1e1;
  border-radius: 50%;
}
.slider-type-1 .swiper-button-next::after, .slider-type-1 .swiper-button-prev::after {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.popular-products {
  background: #F0FFF3;
}
.popular-products .product {
  padding: 20px;
}
.popular-products .product .top-product-header {
  color: #25252E;
  font-weight: 600;
}
@media (min-width: 64em) {
  .popular-products .product .top-product-header {
    padding: 11px 25px;
  }
}
.popular-products .product .top-product-header h2 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 64em) {
  .popular-products .product .top-product-header h2 {
    font-weight: 600;
    font-size: 32px;
  }
}
.popular-products .product .top-product-header p {
  margin: 0;
  font-size: 13px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .popular-products .product .top-product-header p {
    font-size: 16px;
  }
}
.popular-products .product .top-product-header p:hover {
  color: #0C9B18;
}
.popular-products .product .product-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-top: 25px;
}
.popular-products .product .product-content .category {
  flex-basis: 48%;
  background: white;
  border-radius: 3px;
  overflow: hidden;
  height: 275px;
  transition: all 300ms ease-in-out;
}
.popular-products .product .product-content .category img {
  width: 100%;
}
.popular-products .product .product-content .category p {
  font-weight: 600;
  font-size: 14px;
  color: #25252E;
  margin: 10px 0 0 15px;
}
.popular-products .product .product-content .category:hover {
  box-shadow: 0px 2px 9px -4px rgba(0, 0, 0, 0.52);
  transform: scale(1.02);
}
@media (min-width: 40em) {
  .popular-products .product .product-content .category {
    flex-basis: 32%;
    height: 400px;
  }
  .popular-products .product .product-content .category img {
    height: 88%;
  }
}
@media (min-width: 64em) {
  .popular-products .product .product-content .category {
    flex-basis: 24%;
    height: 500px;
  }
  .popular-products .product .product-content .category p {
    font-size: 15px;
  }
}

.popular-shops .shop {
  padding: 20px;
}
.popular-shops .shop .top-product-header {
  color: #25252E;
  font-weight: 600;
  margin-bottom: 25px;
}
@media (min-width: 64em) {
  .popular-shops .shop .top-product-header {
    padding: 11px 25px;
  }
}
.popular-shops .shop .top-product-header h2 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 64em) {
  .popular-shops .shop .top-product-header h2 {
    font-weight: 600;
    font-size: 32px;
  }
}
.popular-shops .shop .top-product-header p {
  margin: 0;
  font-size: 13px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .popular-shops .shop .top-product-header p {
    font-size: 16px;
  }
}
.popular-shops .shop .top-product-header p:hover {
  color: #0C9B18;
}
.popular-shops .shop .shop-content {
  color: black;
}
.popular-shops .shop .shop-content .swiper-slide {
  color: black;
}
.popular-shops .shop .shop-content .swiper-slide .popular-shop {
  width: 95%;
  margin: 0 2.5%;
}
.popular-shops .shop .shop-content .swiper-slide .popular-shop img {
  width: 100%;
}
.popular-shops .shop .shop-content .swiper-slide .popular-shop p {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 2px;
}
@media (min-width: 64em) {
  .popular-shops .shop .shop-content .swiper-slide .popular-shop p {
    font-size: 15px;
  }
}

.featured-category {
  background: #FFF7E3;
}
.featured-category .content {
  padding: 20px;
}
.featured-category .content .top-product-header {
  color: #25252E;
  font-weight: 600;
  margin-bottom: 25px;
}
@media (min-width: 64em) {
  .featured-category .content .top-product-header {
    padding: 11px 25px;
  }
}
.featured-category .content .top-product-header h2 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 64em) {
  .featured-category .content .top-product-header h2 {
    font-weight: 600;
    font-size: 32px;
  }
}
.featured-category .content .top-product-header p {
  margin: 0;
  font-size: 13px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .featured-category .content .top-product-header p {
    font-size: 16px;
  }
}
.featured-category .content .top-product-header p:hover {
  color: #0C9B18;
}
.featured-category .content .categories {
  position: relative;
}
.featured-category .content .categories .swiper-slide {
  width: 100%;
}
.featured-category .content .categories .swiper-slide div {
  height: 108px;
  width: 95%;
  margin: 0 2.5%;
  padding: 0 20px;
  background: white;
  border-radius: 2px;
  transition: all 300ms ease-in-out;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 40em) {
  .featured-category .content .categories .swiper-slide div {
    width: 83%;
  }
}
.featured-category .content .categories .swiper-slide div:hover {
  transform: scale(1.02);
}
.featured-category .content .categories .swiper-slide div img {
  height: 90px;
  width: 90px;
}
.featured-category .content .categories .swiper-slide div p {
  font-weight: 600;
  font-size: 15px;
  color: #585866;
}
@media (min-width: 64em) {
  .featured-category .content .categories .swiper-slide div p {
    font-size: 18px;
  }
}

.fashion-hair {
  background: #F0FFF3;
}
.fashion-hair .top-product-header {
  color: WHITE;
  font-weight: 600;
  margin-bottom: 25px;
  background: #6ACC1A;
}
@media (min-width: 64em) {
  .fashion-hair .top-product-header {
    padding: 11px 25px;
  }
}
.fashion-hair .top-product-header h2 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 64em) {
  .fashion-hair .top-product-header h2 {
    font-weight: 600;
    font-size: 32px;
  }
}
.fashion-hair .top-product-header p {
  margin: 0;
  font-size: 13px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .fashion-hair .top-product-header p {
    font-size: 16px;
  }
}
.fashion-hair .top-product-header p:hover {
  color: #0C9B18;
}
.fashion-hair .container {
  padding: 20px;
}
.fashion-hair .container .hair-content .swiper {
  row-gap: 20px;
}
.fashion-hair .container .hair-content .swiper .swiper-slide .content {
  width: 95%;
  margin: 0 2.5%;
}
.fashion-hair .container .hair-content .swiper .swiper-slide .content img {
  width: 100%;
}
.fashion-hair .container .hair-content .swiper .swiper-button-next, .fashion-hair .container .hair-content .swiper .swiper-button-prev {
  height: 25px;
  width: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e1e1e1;
  border-radius: 50%;
}
.fashion-hair .container .hair-content .swiper .swiper-button-next::after, .fashion-hair .container .hair-content .swiper .swiper-button-prev::after {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.reviews {
  background: linear-gradient(267.38deg, #DFE9F3 -6.01%, #FFFFFF 117.83%);
}
.reviews .review {
  padding: 20px;
}
.reviews .review h2 {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #25252E;
}
@media (min-width: 64em) {
  .reviews .review h2 {
    font-size: 22px;
  }
}
.reviews .review .review-content {
  flex-wrap: wrap;
}
.reviews .review .review-content .content {
  flex-basis: 90%;
  padding: 15px;
  transition: all 300ms ease-in-out;
}
.reviews .review .review-content .content:hover {
  transform: scale(1.01);
}
.reviews .review .review-content .content img {
  width: 86px;
}
.reviews .review .review-content .content small, .reviews .review .review-content .content .reviewer {
  font-weight: 400;
  color: #81818F;
  font-size: 14px;
}
.reviews .review .review-content .content .content {
  color: #25252E;
  font-size: 13px;
  font-weight: 400;
  padding: 0;
}
@media (min-width: 40em) {
  .reviews .review .review-content .content {
    flex-basis: 41%;
  }
}
@media (min-width: 64em) {
  .reviews .review .review-content .content {
    flex-basis: 21%;
  }
  .reviews .review .review-content .content small, .reviews .review .review-content .content .reviewer {
    font-weight: 400;
    font-size: 14px;
  }
  .reviews .review .review-content .content .content {
    font-size: 14px;
  }
}

.Blogs .blog {
  padding: 20px;
}
.Blogs .blog h2 {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #25252E;
}
@media (min-width: 64em) {
  .Blogs .blog h2 {
    font-size: 22px;
  }
}
.Blogs .blog .blog-content {
  flex-wrap: wrap;
}
.Blogs .blog .blog-content .content {
  flex-basis: 100%;
  transition: all 300ms ease-in-out;
}
.Blogs .blog .blog-content .content:hover {
  transform: scale(1.01);
}
.Blogs .blog .blog-content .content img {
  width: 100%;
}
.Blogs .blog .blog-content .content .date {
  font-weight: 400;
  color: #25252E;
  font-size: 13px;
  padding: 0 5px;
}
.Blogs .blog .blog-content .content .date span {
  color: #81818F;
  margin-left: 5px;
}
.Blogs .blog .blog-content .content .blog {
  color: #25252E;
  font-weight: 600;
  font-size: 18px;
  padding: 0 5px;
}
@media (min-width: 40em) {
  .Blogs .blog .blog-content .content {
    flex-basis: 45%;
  }
}
@media (min-width: 64em) {
  .Blogs .blog .blog-content .content {
    flex-basis: 24%;
  }
  .Blogs .blog .blog-content .content .date {
    font-size: 14px;
  }
  .Blogs .blog .blog-content .content .blog {
    font-size: 20px;
  }
}

.select-process .content {
  text-align: center;
  padding: 20px;
}
.select-process .content img {
  width: 141px;
}
.select-process .content .details {
  color: #585866;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 64em) {
  .select-process .content .details {
    font-size: 18px;
  }
}
.select-process .content h1 {
  font-size: 30px;
  font-weight: 600;
  color: #25252E;
}
@media (min-width: 64em) {
  .select-process .content h1 {
    font-size: 48px;
  }
}
.select-process .content .button {
  display: block;
  width: 100%;
  max-width: 515px;
  background: #F4F5F9;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #585866;
  padding: 16px 0;
  margin: 10px auto;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.select-process .content .button:hover {
  background: rgba(0, 128, 0, 0.274);
}
.select-process .content .green {
  text-decoration: none;
  color: #0C9B18;
  font-weight: 400;
  font-size: 14px;
  margin: 0 8px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .select-process .content .green {
    font-size: 16px;
  }
}
.select-process .content .green:hover {
  color: black;
}
.select-process .content .gray {
  color: #81818F;
  font-weight: 400;
  font-size: 14px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .select-process .content .gray {
    font-size: 16px;
  }
}
.select-process .content hr {
  border: 1px solid rgba(128, 128, 128, 0.168627451);
  width: 40%;
}
.select-process .content .down-image {
  display: block;
  width: 100%;
  display: block;
  width: calc(100% + 40px);
  position: relative;
  right: 20px;
  height: 30px;
  margin: 20px 0;
  margin-top: 50px;
}
@media (min-width: 64em) {
  .select-process .content .down-image {
    height: 45px;
  }
}
.select-process .content form input {
  width: calc(100% - 20px);
  max-width: 426px;
  background: #F4F5F9;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #585866;
  padding: 16px 10px;
  margin: 25px auto;
  text-decoration: none;
  display: block;
  transition: all 300ms ease-in-out;
  border: 1px solid #E4E4EE;
  outline: none;
}
.select-process .content form input:hover {
  background: rgba(0, 128, 0, 0.055);
}
.select-process .content form input::-moz-placeholder {
  color: #B2B2C2;
  font-size: 15px;
  font-weight: 400;
}
.select-process .content form input::placeholder {
  color: #B2B2C2;
  font-size: 15px;
  font-weight: 400;
}
.select-process .content form input[type=submit] {
  background: #0C9B18;
  color: white;
  width: 100%;
  display: block;
  max-width: 446px;
}
.select-process .content form input[type=submit]:hover {
  transform: scale(0.98);
}

.signupsuccess .content {
  text-align: center;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 30px auto;
  max-width: 390px;
}
.signupsuccess .content img {
  width: 154px;
}
.signupsuccess .content h1 {
  font-weight: 600;
  font-size: 30px;
  color: #25252E;
}
@media (min-width: 40em) {
  .signupsuccess .content h1 {
    font-size: 48px;
  }
}
.signupsuccess .content p {
  font-weight: 400;
  font-size: 16px;
  color: #25252E;
}
.signupsuccess .content a {
  display: block;
  padding: 15px;
  background: #0C9B18;
  color: white;
  text-decoration: none;
  width: 100%;
  border-radius: 6px;
}

.signup {
  margin-top: -60px;
}
.signup .content .image {
  display: none;
}
@media (min-width: 64em) {
  .signup .content .image {
    flex: 1;
    display: block;
    height: 141vh;
    background-size: cover;
  }
}
.signup .content .text {
  text-align: center;
  flex-basis: calc(100% - 40px);
  padding: 20px;
  position: relative;
  z-index: 1;
  background: white;
  margin: auto;
}
@media (min-width: 40em) {
  .signup .content .text {
    width: 460px;
    flex-basis: auto;
    padding: 25px;
  }
}
.signup .content .text .logo {
  width: 141px;
}
.signup .content .text .switch {
  background: #F6F7F9;
  border-radius: 6px;
  padding: 6px;
  max-width: 250px;
  margin: 15px auto;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.signup .content .text .switch p {
  font-weight: 600;
  font-size: 16px;
  color: #B2B2C2;
  background: transparent;
  border-radius: 6px;
  transition: all 300ms ease-in-out;
  margin: 0;
  padding: 6px 3px;
  width: 100%;
}
.signup .content .text .switch .p-active {
  color: #0C9B18;
  background: white;
}
.signup .content .text .green {
  text-decoration: none;
  color: #0C9B18;
  font-weight: 400;
  font-size: 14px;
  margin: 0 8px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .signup .content .text .green {
    font-size: 16px;
  }
}
.signup .content .text .green:hover {
  color: black;
}
.signup .content .text .gray {
  color: #81818F;
  font-weight: 400;
  font-size: 14px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64em) {
  .signup .content .text .gray {
    font-size: 16px;
  }
}
.signup .content .text form input, .signup .content .text form textarea {
  width: calc(100% - 20px);
  max-width: 400px;
  background: #F4F5F9;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #585866;
  padding: 16px 10px;
  margin: 25px auto;
  text-decoration: none;
  display: block;
  transition: all 300ms ease-in-out;
  border: 1px solid #E4E4EE;
  outline: none;
}
.signup .content .text form input:hover, .signup .content .text form textarea:hover {
  background: rgba(0, 128, 0, 0.055);
}
.signup .content .text form input::-moz-placeholder, .signup .content .text form textarea::-moz-placeholder {
  color: #B2B2C2;
  font-size: 15px;
  font-weight: 400;
}
.signup .content .text form input::placeholder, .signup .content .text form textarea::placeholder {
  color: #B2B2C2;
  font-size: 15px;
  font-weight: 400;
}
.signup .content .text form input[type=submit], .signup .content .text form textarea[type=submit] {
  background: #0C9B18;
  color: white;
  width: 100%;
  display: block;
  max-width: 430px;
}
.signup .content .text form input[type=submit]:hover, .signup .content .text form textarea[type=submit]:hover {
  transform: scale(0.98);
}
.signup .content .text form .check-boxes {
  justify-content: left;
  -moz-column-gap: 3px;
       column-gap: 3px;
  max-width: 430px;
  margin: 0 auto;
}
.signup .content .text form .check-boxes input {
  width: 15px;
  margin: 0;
}
.signup .content .text form .check-boxes p {
  font-weight: 400;
  font-size: 14px;
  color: #25252E;
}
.signup .content .text form .check-boxes p .red {
  font-weight: 400;
  font-size: 11px;
  text-decoration: none;
  color: #FF6666;
}
.signup .content .text .or {
  justify-content: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-bottom: 30px;
}
.signup .content .text .or span {
  display: inline-block;
  width: 34%;
  background: rgba(129, 129, 143, 0.368627451);
  height: 1px;
}
.signup .content .text .icon {
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.signup .content .text .icon img {
  width: 27%;
}

.carts {
  background: #F8F8F8;
}
@media (min-width: 40em) {
  .carts {
    margin-top: 42px;
  }
}
.carts .cart {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.carts .cart h2 {
  font-weight: 500;
  flex-basis: 100%;
}
.carts .cart .cart-content {
  max-width: 670px;
}
@media (min-width: 64em) {
  .carts .cart .cart-content {
    margin: auto;
  }
}
.carts .cart .cart-content .cart-item {
  margin: 25px auto;
  width: calc(100% - 10px);
  height: 110px;
  display: flex;
  border-radius: 4px;
  padding: 5px;
  -moz-column-gap: 0px;
       column-gap: 0px;
  border: 1px solid rgba(228, 228, 228, 0.329);
}
@media (min-width: 64em) {
  .carts .cart .cart-content .cart-item {
    height: 180px;
    width: 97%;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.carts .cart .cart-content .cart-item .product-image {
  height: 110px;
  width: 110px;
  margin-right: 10px;
}
@media (min-width: 64em) {
  .carts .cart .cart-content .cart-item .product-image {
    height: 170px;
    width: 170px;
  }
}
.carts .cart .cart-content .cart-item p {
  margin: 0;
}
.carts .cart .cart-content .cart-item .cart-details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.carts .cart .cart-content .cart-item .cart-details .product-name {
  text-align: left;
  flex-basis: 50%;
  font-weight: 600;
  font-size: 14px;
  color: black;
}
@media (min-width: 64em) {
  .carts .cart .cart-content .cart-item .cart-details .product-name {
    font-size: 18px;
  }
}
.carts .cart .cart-content .cart-item .cart-details .product-price {
  text-align: right;
  flex-basis: 50%;
  font-weight: 600;
  font-size: 14px;
  color: black;
}
@media (min-width: 64em) {
  .carts .cart .cart-content .cart-item .cart-details .product-price {
    font-size: 18px;
  }
}
.carts .cart .cart-content .cart-item .cart-details .product-condition {
  text-align: left;
  flex-basis: 100%;
  font-weight: 600;
  color: rgb(199, 199, 199);
  font-size: 14px;
}
.carts .cart .cart-content .cart-item .cart-details .product-condition span {
  color: black;
}
@media (min-width: 64em) {
  .carts .cart .cart-content .cart-item .cart-details .product-condition {
    font-size: 18px;
  }
}
.carts .cart .cart-content .cart-item .cart-details .product-counter {
  flex-basis: 50%;
  color: #585866;
  font-weight: 600;
  font-size: 13px;
}
.carts .cart .cart-content .cart-item .cart-details .product-counter .minus, .carts .cart .cart-content .cart-item .cart-details .product-counter .plus {
  padding: 3px 6px;
  border-radius: 1px;
  background: rgba(235, 235, 235, 0.5411764706);
  margin: 0 8px;
}
.carts .cart .cart-content .cart-item .cart-details .product-counter .count {
  font-size: 16px;
}
.carts .cart .cart-content .cart-item .cart-details .delete-product {
  flex-basis: 50%;
  text-align: right;
  justify-content: right;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-size: 14px;
}
.carts .cart .cart-content .cart-item .cart-details .delete-product img {
  width: 16px;
}
@media (min-width: 64em) {
  .carts .cart .cart-content .cart-item .cart-details .delete-product {
    font-size: 16px;
  }
}

.cart-summary {
  background: white;
  border-radius: 6px;
  width: 100%;
  padding: 20px;
}
@media (min-width: 40em) {
  .cart-summary {
    max-width: 400px;
  }
}
@media (min-width: 64em) {
  .cart-summary {
    margin: auto;
  }
}
.cart-summary hr {
  border: 1px solid rgba(227, 227, 227, 0.3490196078);
}
.cart-summary h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  color: #25252E;
}
@media (min-width: 40em) {
  .cart-summary h3 {
    font-size: 22px;
  }
}
.cart-summary .sub-total {
  font-weight: 600;
  font-size: 18px;
  color: #81818F;
}
@media (min-width: 40em) {
  .cart-summary .sub-total {
    font-size: 20px;
  }
}
.cart-summary .shipping {
  font-weight: 400;
  font-size: 14px;
  color: #81818F;
}
.cart-summary .shipping p {
  margin: 10px 0;
}
@media (min-width: 40em) {
  .cart-summary .shipping {
    font-size: 16px;
  }
}
.cart-summary button {
  background: #0C9B18;
  color: white;
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

.products {
  background: #eeeeee;
}
@media (min-width: 64em) {
  .products {
    margin-top: 60px;
  }
}
.products .product {
  display: flex;
}
.products .product .side-bar {
  padding-top: 30px;
  background: white;
  padding: 0 15px;
  display: none;
}
@media (min-width: 40em) {
  .products .product .side-bar {
    display: block;
    flex-basis: calc(20% - 40px);
  }
}
.products .product .side-bar h2 {
  margin-top: 26px;
  font-weight: 600;
  font-size: 22px;
  color: #25252E;
}
.products .product .side-bar .navigationlist span {
  display: block;
  margin: 15px 0;
  font-weight: 400;
  font-size: 14px;
  color: #25252E;
}
.products .product .side-bar .navigationlist .green {
  font-weight: 600;
  font-size: 16px;
  color: #0C9B18;
}
.products .product .side-bar .navigationlist .price-range p {
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0;
  color: #25252E;
}
.products .product .side-bar .navigationlist .price-range .value {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 6px;
  display: flex;
  margin: 0 2px;
  width: 93px;
  overflow: hidden;
}
.products .product .side-bar .navigationlist .price-range .value span {
  border-right: 1px solid #e7e7e7;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 5px 10px;
  background: #ececec;
}
.products .product .side-bar .navigationlist .price-range .value input {
  border: none;
  outline: none;
  margin-left: 5px;
  color: #acacac;
  max-width: 80%;
}
.products .product .side-bar .navigationlist .details p {
  margin: 0;
}
.products .product .side-bar .navigationlist .details p span {
  font-weight: 600;
  font-size: 20px;
  color: #25252E;
}
.products .product .side-bar .navigationlist .details .detail-sub-list {
  max-height: 224px;
  overflow-y: auto;
}
.products .product .side-bar .navigationlist .details .detail-sub-list::-webkit-scrollbar {
  width: 6px;
  border-radius: 3px;
}
.products .product .side-bar .navigationlist .details .detail-sub-list::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #f6f6f6;
}
.products .product .side-bar .navigationlist .details .detail-sub-list::-webkit-scrollbar-thumb {
  background: #0C9B18;
  border-radius: 3px;
}
.products .product .side-bar .navigationlist .details .detail-sub-list .list {
  justify-content: left;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin: 8px 0;
}
.products .product .side-bar .navigationlist .details .detail-sub-list .list p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #25252E;
}
.products .product .side-bar .navigationlist .details .detail-sub-list .list input {
  height: 18px;
  width: 18px;
  border: 1.2px solid #232323;
  border-radius: 2px;
}
.products .product .content {
  padding: 30px 15px;
  flex-basis: 100%;
}
@media (min-width: 40em) {
  .products .product .content {
    flex-basis: 80%;
  }
}
.products .product .content .content-head {
  flex-wrap: wrap;
  row-gap: 8px;
}
.products .product .content .content-head p {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  color: #25252E;
}
.products .product .content .content-head .sort {
  flex-basis: 100%;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-wrap: wrap;
}
@media (min-width: 40em) {
  .products .product .content .content-head .sort {
    flex-basis: auto;
  }
  .products .product .content .content-head .sort div {
    flex-basis: auto;
  }
}
.products .product .content .content-head .sort div {
  flex-basis: 100%;
}
@media (min-width: 40em) {
  .products .product .content .content-head .sort div {
    flex-basis: auto;
  }
}
.products .product .content .content-head .sort span {
  font-weight: 400;
  font-size: 14px;
  margin-right: 6px;
  color: #81818F;
}
@media (min-width: 40em) {
  .products .product .content .content-head .sort span {
    font-size: 17px;
  }
}
.products .product .content .content-head .sort select {
  background: white;
  border: 1px solid #E4E4EE;
  border-radius: 6px;
  padding: 6px 8px 6px 12px;
  color: #25252E;
  transition: all 300ms ease-in-out;
}
.products .product .content .content-head .sort select:focus {
  outline: 0;
  border: 1px solid rgba(0, 128, 0, 0.55);
}
.products .product .content .items {
  margin: 25px 0;
}
.products .product .content .items .product-card {
  row-gap: 20px;
  flex-wrap: wrap;
}
.products .product .content .items .product-card .item {
  flex-basis: calc(48% - 12px);
  padding: 6px;
  max-width: 283px;
  background: white;
  border-radius: 2px;
}
@media (min-width: 40em) {
  .products .product .content .items .product-card .item {
    flex-basis: auto;
    max-width: 238px;
  }
}
@media (min-width: 64em) {
  .products .product .content .items .product-card .item {
    max-width: 238px;
  }
}
.products .product .content .items .product-card .item img {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
}
@media (min-width: 40em) {
  .products .product .content .items .product-card .item img {
    height: 250px;
  }
}
.products .product .content .items .product-card .item .item-name {
  font-size: 14px;
  font-weight: 500;
  color: #232323;
}
@media (min-width: 40em) {
  .products .product .content .items .product-card .item .item-name {
    font-size: 16px;
  }
}
.products .product .content .items .product-card .item .item-price {
  font-size: 16px;
  font-weight: 600;
  color: #232323;
}
@media (min-width: 40em) {
  .products .product .content .items .product-card .item .item-price {
    font-size: 18px;
  }
}
.products .product .content .items .product-card .item button {
  width: 100%;
  color: black;
  font-weight: 600;
  padding: 12px 0;
  background: #FDC50D;
  border-radius: 6px;
  font-size: 16px;
  border: none;
  transition: all 300ms ease-in-out;
}
.products .product .content .items .product-card .item button:hover {
  outline: none;
  border: none;
  transform: scale(0.98);
}

.item-details {
  background: #eeeeee;
}
.item-details p {
  margin: 0;
}
.item-details h3 {
  color: #25252E;
}
@media (min-width: 64em) {
  .item-details {
    margin-top: 60px;
  }
}
.item-details .item-detail {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item-details .item-detail .item-detail-swiper {
  flex-basis: 100%;
}
.item-details .item-detail .item-detail-swiper .image-gallery-slide-wrapper button .image-gallery-svg {
  height: 40px;
  width: 60px;
}
@media (min-width: 40em) {
  .item-details .item-detail .item-detail-swiper {
    flex-basis: 40%;
  }
}
@media (min-width: 64em) {
  .item-details .item-detail .item-detail-swiper {
    flex-basis: 35%;
  }
}
.item-details .item-detail .item-detail-swiper .image-gallery-slide-wrapper {
  border-radius: 6px;
  border: none;
  min-height: 200px;
}
.item-details .item-detail .item-detail-swiper .image-gallery-slide-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
}
.item-details .item-detail .item-detail-swiper .image-gallery-thumbnail.active, .item-details .item-detail .item-detail-swiper .image-gallery-thumbnail:focus {
  outline: none;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid green;
}
.item-details .item-about {
  flex-basis: 100%;
}
.item-details .item-about h2 {
  font-weight: 600;
  font-size: 24px;
  color: #25252E;
}
.item-details .item-about .green {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #0C9B18;
}
.item-details .item-about .gray, .item-details .item-about .title, .item-details .item-about option {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  line-height: 1.3;
  color: #585866;
}
.item-details .item-about .item-condition {
  display: flex;
  justify-content: left;
  margin: 15px 0;
}
.item-details .item-about .item-condition .title {
  flex-basis: 20%;
}
.item-details .item-about .item-condition h3 {
  font-weight: 600;
  font-size: 16px;
  color: #25252E;
  margin: 0;
}
.item-details .item-about .item-condition .condition {
  flex-basis: 75%;
}
.item-details .item-about .item-condition .condition h3 {
  margin-bottom: 8px;
}
.item-details .item-about .item-condition select {
  flex: 1;
  border: 1px solid #c5c5c5;
  max-width: 255px;
  border-radius: 6px;
  padding: 8px 8px 8px 12px;
  outline: none;
  transition: all 300ms ease-in-out;
  color: #171717;
  font-weight: 400;
  background: transparent;
}
.item-details .item-about .item-condition select:hover {
  border: 1px solid #0C9B18;
}
.item-details .item-about .item-condition span {
  padding: 3px 13px;
  border-radius: 5px;
  background: white;
  border: 1px solid #c7c7c7;
  margin: 0 6px;
}
.item-details .item-about button {
  padding: 11px 0;
  margin: 10px 0;
  width: 100%;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background: #0C9B18;
}
.item-details .item-about .btn2 {
  background: white;
  border: 1px solid #0C9B18;
  color: #0C9B18;
}
@media (min-width: 40em) {
  .item-details .item-about {
    flex-basis: 50%;
  }
}
@media (min-width: 64em) {
  .item-details .item-about {
    flex-basis: 35%;
  }
  .item-details .item-about h2 {
    font-size: 28px;
  }
  .item-details .item-about .green, .item-details .item-about .gray, .item-details .item-about .title {
    font-size: 16px;
    margin: 0;
  }
}
.item-details .seller-info {
  flex-basis: 100%;
}
.item-details .seller-info .info {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #c7c7c7;
}
.item-details .seller-info .info h3 {
  margin: 2px 0;
}
.item-details .seller-info .info p {
  font-weight: 400;
  font-size: 14px;
  color: #25252E;
  margin: 8px 0;
}
.item-details .seller-info .info .green {
  color: #0C9B18;
}
.item-details .seller-info .icon {
  text-align: center;
  margin: 10px auto;
}
.item-details .seller-info .icon img {
  margin: 5px;
}
@media (min-width: 64em) {
  .item-details .seller-info {
    flex-basis: 20%;
  }
  .item-details .seller-info p {
    font-size: 16px;
  }
}
.item-details .item-specification {
  flex-basis: 100%;
}
.item-details .item-specification h3, .item-details .item-specification p {
  color: #25252E;
}
.item-details .item-specification p {
  font-size: 14px;
  font-weight: 400;
}
.item-details .item-specification .title {
  color: #81818F;
  flex-basis: 20%;
  margin-right: 5px;
}
.item-details .item-specification .gray {
  color: #585866;
}
.item-details .item-specification .content {
  text-align: left;
  flex: 1;
}
.item-details .item-specification div {
  margin: 15px 0;
  display: flex;
}
@media (min-width: 64em) {
  .item-details .item-specification p {
    font-size: 16px;
  }
}
.item-details .item-description {
  flex-basis: 100%;
  margin: 30px 0;
}
.item-details .item-description h3, .item-details .item-description p {
  color: #25252E;
}
.item-details .item-description p {
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 64em) {
  .item-details .item-description p {
    font-size: 16px;
  }
}
.item-details .customer-review {
  flex-basis: 100%;
}
.item-details .customer-review .review-head {
  padding: 5px 0;
  border-bottom: 1px solid #c7c7c7;
  border-top: 1px solid #c7c7c7;
  flex-wrap: wrap;
}
.item-details .customer-review .review-head h3 {
  color: #25252E;
}
.item-details .customer-review .review-head p {
  font-size: 14px;
  font-weight: 600;
  color: #25252E;
  margin: 4px 0;
}
@media (min-width: 64em) {
  .item-details .customer-review .review-head p {
    font-size: 16px;
  }
}
.item-details .customer-review .review-head div .gray {
  color: #585866;
  font-weight: 400;
}
.item-details .customer-review .review-chart p {
  font-size: 14px;
  font-weight: 400;
  color: #25252E;
}
@media (min-width: 64em) {
  .item-details .customer-review .review-chart p {
    font-size: 16px;
  }
}
.item-details .customer-review .review-chart .bar-chart {
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin: 18px 0;
}
.item-details .customer-review .review-chart .bar-chart .bar {
  flex: 1;
  height: 18px;
  border-radius: 3px;
  display: block;
  width: 100%;
}
.item-details .customer-review .review-chart .bar-chart .bar .level {
  display: inline-block;
  height: 18px;
  background: #f5bf55;
  border-radius: 3px;
}
.item-details .reviews {
  background: transparent;
}
.item-details .reviews .review {
  padding: 0;
}

.checkouts {
  background: #eeeeee;
  /* `.checkout{}` is a nested selector in SCSS. It targets all elements with a class of "checkout"
  that are descendants of elements with a class of "checkouts". Any styles applied within the
  curly braces will only affect those elements. */
}
@media (min-width: 64em) {
  .checkouts {
    margin-top: 60px;
  }
}
.checkouts .checkout {
  padding: 20px;
  color: #25252E;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.checkouts .checkout h2 {
  font-weight: 600;
  font-size: 24px;
  color: #25252E;
}
@media (min-width: 64em) {
  .checkouts .checkout h2 {
    font-size: 28px;
  }
}
.checkouts .checkout .address h3 {
  font-weight: 600;
  font-size: 20px;
}
@media (min-width: 64em) {
  .checkouts .checkout .address h3 {
    font-size: 18px;
  }
}
.checkouts .checkout .address p {
  max-width: 212px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
@media (min-width: 64em) {
  .checkouts .checkout .address p {
    line-height: 24px;
    font-size: 16px;
  }
}
.checkouts .checkout .address .green {
  color: #0C9B18;
}
.checkouts .checkout .add-address {
  flex-basis: 100%;
}
@media (min-width: 40em) {
  .checkouts .checkout .add-address {
    flex-basis: auto;
  }
}
@media (min-width: 40em) {
  .checkouts .checkout .add-address form {
    width: 340px;
  }
}
.checkouts .checkout .add-address form fieldset {
  border-radius: 6px;
  margin: 10px 0;
  transition: all 300ms ease-in-out;
  border: 1px solid #E4E4EE;
  background: white;
}
.checkouts .checkout .add-address form fieldset legend {
  font-weight: 400;
  font-size: 12px;
  color: #25252E;
  background: #eeeeee;
}
.checkouts .checkout .add-address form fieldset:hover {
  border: 1px solid #0C9B18;
}
.checkouts .checkout .add-address form fieldset:hover legend {
  color: #0C9B18;
}
.checkouts .checkout .add-address form fieldset input, .checkouts .checkout .add-address form fieldset select {
  background: none;
  border: none;
}
.checkouts .checkout .add-address form fieldset input:focus, .checkouts .checkout .add-address form fieldset select:focus {
  outline: none;
  border: none;
}
.checkouts .checkout .add-address form fieldset select {
  padding-right: 10px;
  border-right: 1px solid #0C9B18;
}
.checkouts .checkout .add-address form button {
  border-radius: 6px;
  width: 43%;
  padding: 12px 0;
  color: white;
  border: none;
  background: #0C9B18;
  margin: 10px 7% 0 0;
}
.checkouts .checkout .add-address form button:focus {
  outline: none;
}
.checkouts .checkout .add-address form .btn2 {
  background: white;
  color: #0C9B18;
  margin: 10px 0 0 7%;
  border: 1px solid #0C9B18;
}

.footers {
  background: linear-gradient(86.28deg, #F6FEE0 -2.83%, #ADEDD5 118.05%);
}
.footers .footer {
  align-items: flex-start;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 40em) {
  .footers .footer {
    justify-content: left;
  }
}
@media (min-width: 64em) {
  .footers .footer {
    justify-content: space-between;
    padding: 70px 20px;
  }
}
.footers .footer div {
  flex-basis: 48%;
}
@media (min-width: 40em) {
  .footers .footer div {
    flex-basis: 33%;
  }
}
@media (min-width: 64em) {
  .footers .footer div {
    flex-basis: 18%;
  }
}
.footers .footer div h2 {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.footers .footer div a, .footers .footer div Link {
  display: block;
  color: rgba(0, 0, 0, 0.77);
  font-size: 13px;
  margin: 10px 0;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
.footers .footer div a:hover, .footers .footer div Link:hover {
  color: #0C9B18;
}
.footers .footer .div5 a {
  display: flex;
  justify-content: left;
}
.footers .footer .div5 a img {
  margin-right: 6px;
}
.footers .footer .div5 a p {
  margin: 0;
}/*# sourceMappingURL=general.css.map */