@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@media (max-width: 63.9375em) {
  .h-f-m {
    display: none;
  }
}

@media (max-width: 39.997em) {
  .h-f-m {
    display: none;
  }
}

@media (max-width: 63.9375em) {
  .h-f-tm {
    display: none;
  }
}

@media (max-width: 39.997em) {
  .h-f-dm {
    display: none !important;
  }
}

@media (min-width: 40em) {
  .h-f-t {
    display: none;
  }
}

@media (min-width: 64em) {
  .h-f-d {
    display: none;
  }
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden !important;
  background: #fcfcfc;
}
body.noscroll {
  overflow-y: hidden;
}
body a, body p, body h1, body input, body span {
  cursor: pointer;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.f-jc-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-jc-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  line-height: 1.3;
}

.header1 .header {
  margin: 7px 25px;
}
.header1 .header .logo-div img {
  position: relative;
  bottom: 3px;
}
.header1 .header .logo-div p {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  color: black;
}
.header1 .header .search-box {
  border: 1px solid white;
  transition: all 300ms ease-in-out;
  padding: 10px 5px;
}
.header1 .header .search-box:focus, .header1 .header .search-box:hover {
  border: 1px solid #0C9B18;
  border-radius: 6px;
}
.header1 .header .search-box img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.header1 .header .search-box input, .header1 .header .search-box select {
  border: none;
  color: #81818f;
  font-size: 15px;
  font-weight: 400;
}
.header1 .header .search-box input:focus, .header1 .header .search-box input:hover, .header1 .header .search-box select:focus, .header1 .header .search-box select:hover {
  border: none;
  outline: none;
}
.header1 .header .search-box input option, .header1 .header .search-box select option {
  font-weight: 400;
  font-size: 14px;
  color: #81818f;
}
.header1 .header .links {
  justify-content: flex-end;
  flex: 1;
}
@media (min-width: 40em) {
  .header1 .header .links {
    justify-content: space-between;
    flex: unset;
  }
}
.header1 .header .links span {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  transition: all 300ms ease-in-out;
  margin-right: 13px;
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid white;
}
@media (min-width: 64em) {
  .header1 .header .links span:hover {
    color: #0C9B18;
    border-radius: 8px;
    border: 1px solid #0C9B18;
  }
}
.header1 .header .links span span {
  padding: 0;
  margin-right: 0;
  border: none;
}
.header1 .header .links span span:hover {
  padding: 0;
  border: none;
}
.header1 .header .links span img {
  margin-right: 1px;
  position: relative;
  top: 3px;
}
@media (min-width: 40em) {
  .header1 .header .links span img {
    top: 1px;
  }
}

.header2 {
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow: auto;
}
@media (min-width: 40em) {
  .header2 {
    position: unset;
    background: #FDC50D;
  }
}
.header2 .container {
  max-width: 1400px;
  margin: 0 auto;
}
.header2 .header {
  white-space: nowrap;
  overflow: auto;
  transition: all 300ms ease-in-out;
}
@media (min-width: 40em) {
  .header2 .header {
    margin: 0 25px;
  }
}
.header2 .header:hover::-webkit-scrollbar-thumb {
  opacity: 1;
  background: #0C9B18;
}
.header2 .header::-webkit-scrollbar {
  height: 4px;
}
.header2 .header::-webkit-scrollbar-track {
  border-radius: 10px;
}
.header2 .header::-webkit-scrollbar-thumb {
  background: #FDC50D;
  border-radius: 10px;
  opacity: 0;
}
.header2 .header span {
  color: black;
  font-weight: 500;
  font-size: 15px;
  padding: 20px 25px;
  display: block;
  transition: 300ms all ease-in-out;
}
.header2 .header span:hover {
  background-color: #0C9B18;
  color: white;
}
@media (min-width: 40em) {
  .header2 .header span {
    padding: 19px 10px;
    margin: 0 2px;
    display: inline-block;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
@media (min-width: 40em) {
  .fade-out {
    animation: fade-out 300ms ease-in-out backwards;
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 37px;
  position: relative;
  z-index: 4;
  top: 3px;
  width: 37px;
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: green;
  stroke-width: 6.5;
  stroke-linecap: round;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.ham6 .top {
  stroke-dasharray: 40 172;
}
.ham6 .middle {
  stroke-dasharray: 40 111;
}
.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.ham6.active .top {
  stroke-dashoffset: -132px;
  stroke: #0C9B18;
}
.ham6.active .middle {
  stroke-dashoffset: -71px;
  stroke: #0C9B18;
}
.ham6.active .bottom {
  stroke-dashoffset: -132px;
  stroke: #0C9B18;
}

.heros {
  background: #6ACC1A;
}
.heros .hero {
  padding: 25px;
}
.heros .hero .text {
  flex-basis: 50%;
}
.heros .hero .text h1 {
  color: white;
  font-weight: 600;
  font-size: 35px;
  max-width: 607px;
}
@media (min-width: 64em) {
  .heros .hero .text h1 {
    font-size: 96px;
    max-width: 607px;
  }
}
.heros .hero .text button {
  padding: 13px 10px;
  font-weight: 600;
  font-size: 15px;
  color: #25252E;
  border-radius: 6px;
  border: none;
  -moz-column-gap: 5px;
       column-gap: 5px;
  transition: all 300ms ease-in-out;
}
.heros .hero .text button:hover {
  color: white;
  background: #25252E;
}
@media (min-width: 64em) {
  .heros .hero .text button {
    padding: 20px 10px;
    font-size: 16px;
  }
}
.heros .hero .image {
  flex-basis: 50%;
}
.heros .hero .image img {
  max-width: 100%;
}/*# sourceMappingURL=general.css.map */